.category-section {
    margin: 20px 0;
    padding: 10px;
  }
  
  h2 {
    color: #f39c12;
    font-size: 1.5rem;
  }
  
  ion-item {
    background: #222;
    color: #fff;
    margin: 10px 0;
  }
  
  ion-thumbnail img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  