<ion-header>
  <ion-toolbar>
    <ion-title>Padaria Fenix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="category-section">
    <h2>Pães</h2>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pao-frances.jpg"/>
        </ion-thumbnail>
        <ion-label>Pão Francês</ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/broa.jpg"/>
        </ion-thumbnail>
        <ion-label>Broa</ion-label>
      </ion-item>
      <!-- Adicione mais itens conforme necessário -->
    </ion-list>
  </div>

  <div class="category-section">
    <h2>Bebidas</h2>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/coca-cola.jpg"/>
        </ion-thumbnail>
        <ion-label>Coca-Cola 2 Litros</ion-label>
      </ion-item>
      <!-- Adicione mais itens conforme necessário -->
    </ion-list>
  </div>
</ion-content>
